# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.tox/
.mypy_cache/
ruff_cache/

# Virtualenvs
venv/
.venv/
env/
.env/

# Fichier spécifique projet (si besoin)
*main.py

# DB locale (décommenter pour ne pas commit la base de dev)
# instance/*.db
# instance/*.sqlite*

# IDE / OS
.idea/
.vscode/
.DS_Store
*.log
